@font-face {
    font-family: "Axiforma";
    src: url('../fonts/Axiforma Book.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Axiforma";
    src: url('../fonts/Axiforma Bold.otf') format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Axiforma";
    src: url('../fonts/Axiforma Black.otf') format("opentype");
    font-weight: 900;
    font-style: normal;
}
  