.jumbotron {
    min-height: 100vh;
    background-image: url("/src/assets/images/notepad-header.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar {
    margin-bottom: 80px;
}

.text-large {
    font-size: $font-size-lg;
}